<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{basics.name}}</title>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" media="all">
		<style>
			body {
				font-family: 'Lato';
				background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/snow.png");
	        	font-size: 'small'
			}

			.oswald-font {
				font-family: 'oswald';
				vertical-align: bottom;
			}

			.name {
				text-transform: uppercase;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			.link-github {
				color: #454545;
			}
			
			.link-github:hover {
				color: black;
			}
			
			.link-twitter {
				color: #33CCFF;
			}
			
			.social-link {
				margin-left: 5px;
			}
			
			.social-link:first-child {
				margin-left: 0;
			}
			
			.link-blog {
				color: rgb(243, 111, 36);
			}
			
			.link-blog:hover {
				color: rgb(211, 97, 32);
			}
			
			.summary {
				font-family: "Pt mono";
				font-size: 1.2em;
			}
			
			.wip {
				position: absolute;
				right: 0;
			}
			
			.item-detail h3 {
				margin-top: 0px;
				vertical-align: middle;
			}

			.item-detail .company {
				font-size: 18px;
			}

			.item {
				border-bottom: 1px solid #eee;
				margin-bottom: 10px;
				padding-bottom: 10px;
				page-break-inside: avoid;
			}

			/*.section {
				page-break-inside: avoid;
			}*/

			@media print {
				@page {
					margin: 0.75cm 0.5cm;
				}
				a[href]:after {
					content:"";
				}
				.badge {
					font-weight: normal;
				}
				.item {
					border-bottom: 0px;
					margin-bottom: 0px;
					padding-bottom: 5px;
				}
				.social-links-wrapper {
					display: none;
				}
			}
		</style>
	</head>
	
	<body>
		<div class="container">
				<div class="col-md-12 section">
					<h1 class="name oswald-font">{{basics.name}}</h1>
					
					<p class="location text col-xs-6">
						{{#basics._humanized_location}}
						<span class="fa fa-location-arrow"></span>
						{{basics._humanized_location}}
						<br>
						{{/basics._humanized_location}}
						<span class="social-links-wrapper">
							{{#basics.profiles}}
							<a href="{{url}}" target="_blank">{{network}}</a>&nbsp;&nbsp;
							{{/basics.profiles}}
						</span>
					</p>
					<p class="location text-right col-xs-6">
						{{#basics.email}}
						<span class="fa fa-envelope"></span>
						{{basics.email}}
						{{/basics.email}}
						{{#basics.phone}}
						<br>
						<span class="fa fa-phone"></span>
						{{basics.phone}}
						{{/basics.phone}}
						{{#basics.website}}
						<br>
						<span class="fa fa-rss-square"></span>
						<a target="_blank" href="{{basics.website}}">{{basics.website}}</a>
						{{/basics.website}}
						<br>
					</p>
				</div>

				{{#basics.summary}}
				<div class="col-md-12 section">
					
					<p class="summary">
						<sup class="fa fa-quote-left"></sup>
						{{basics.summary}}
						<sup class="fa fa-quote-right"></sup>
					</p>
				</div>
				{{/basics.summary}}

				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-briefcase"></span>&nbsp; Work</h2>
					
					{{#work}}
					<div class="row item">
						<div class="col-xs-2 text-right">{{{startDate}}}{{#endDate}} &ndash; {{{endDate}}}{{/endDate}}</div>
						<div class="item-detail col-xs-10">
							<h3>
								{{position}} &bull; <a target="_blank" href="{{website}}" class="company">{{company}}</a>
							</h3>
							<p class="text-muted text-justify">{{summary}}</p>
							<ul>
            					{{#highlights}}
								<li class="text-justify">{{.}}</li>
              					{{/highlights}}
							</ul>
						</div>
						
					</div>
					
					{{/work}}
				</div>

				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-university"></span>&nbsp; Education</h2>
					
					{{#education}}
					<div class="row item">
						<div class="col-xs-2 text-right">{{{startDate}}}{{#endDate}} &ndash; {{{endDate}}}{{/endDate}}</div>
						<div class="item-detail col-xs-10">
							<h3>{{studyType}}</h3>
							<h4>{{institution}}, {{area}}</h4>
							{{#gpa}}<h5>{{gpa}}</h5>{{/gpa}}
							<ul>
							{{#courses}}
							<li>{{.}}</li>
							{{/courses}}
							</ul>
						</div>
						
					</div>
					{{/education}}
				</div>

				{{#awards.0}}
				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-star"></span>&nbsp; Awards and Certifications</h2>
					
					{{#awards}}
					<div class="row item">
						<div class="col-xs-2 text-right">{{{date}}}</div>
						<div class="item-detail col-xs-10">
							<h3>
								{{title}} &bull; <span class="company">{{awarder}}</span>
							</h3>
							<p class="text-muted text-justify">{{summary}}</p>
							<ul>
            					{{#highlights}}
								<li class="text-justify">{{.}}</li>
              					{{/highlights}}
							</ul>
						</div>
					</div>
					
					{{/awards}}
				</div>
				{{/awards.0}}

				{{#skills.0}}
				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-mortar-board"></span>&nbsp; Skills</h2>
					
					<div class="row">
						{{#skills}}
						<div class="col-xs-6">
							<h4> {{name}} </h4>
							<h5><b>{{level}}</b></h5>
							{{#keywords}}
								<span class="badge" style="background-color : #67809F;padding: 0.5em 0.5em 5px 0.5em;margin: 0 0 5px 0;">{{.}}</span> 
							{{/keywords}}
						</div>
						{{/skills}}
					</div>
				</div>
				{{/skills.0}}
				{{#volunteer.0}}
				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-group"></span>&nbsp; Volunteerism</h3>
					
					<div>
						{{#volunteer}}
							<div class="item-detail">
								<h3>
									{{#website}}<a target="_blank" href="{{website}}">
										@{{/website}}{{organization}} 
									{{#website}}</a>{{/website}}
								</h3>
								{{#summary}}<p class="text-muted">{{summary}}</p>{{/summary}}
								<h5>{{startDate}}{{#endDate}} &ndash; {{endDate}}{{/endDate}}</h5>
								<h4>
									{{#position}}<span>{{position}}</span>{{/position}}
								</h4>
							</div>
							<ul>
            					{{#highlights}}
								<li>{{.}}</li>
              					{{/highlights}}
							</ul>
							
						{{/volunteer}}
					</div>
				</div>
				{{/volunteer.0}}
				{{#languages.0}}
				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-language"></span>&nbsp; Languages</h2>
					<div class="row">
					{{#languages}}
						<div class="col-xs-6">
							<h4> {{language}} </h4>
							<h5>{{fluency}}</h5>
						</div>
					{{/languages}}
					</div>
				</div>
				{{/languages.0}}

				{{#interests.0}}
				<div class="col-md-12 section">
					<h2 class="oswald-font"><span class="fa fa-book"></span>&nbsp; Hobbies</h2>
					
					<div class="col-md-10">
						<ul>
							{{#interests}}
								<li><div class="item-detail">
									<h5>{{name}}</h5>
								</div>
								<ul>
									{{#keywords}}
									<li>{{.}}</li>
									{{/keywords}}
								</ul></li>
							{{/interests}}
						</ul>
						
					</div>
				</div>
				{{/interests.0}}
			</div>
		</div>

		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>		
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	</body>
</html>
