<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{basics.name}}</title>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style>
			body {
				font-family: 'Lato';
				background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/snow.png");
        font-size: 'small'
			}

			.oswald-font {
				font-family: 'oswald';
				vertical-align: bottom;
			}

			.name {
				text-transform: uppercase;
			}
			
			a:hover {
				text-decoration: none;
			}
			
			.link-github {
				color: #454545;
			}
			
			.link-github:hover {
				color: black;
			}
			
			.link-twitter {
				color: #33CCFF;
			}
			
			.social-link {
				margin-left: 5px;
			}
			
			.social-link:first-child {
				margin-left: 0;
			}
			
			.link-blog {
				color: rgb(243, 111, 36);
			}
			
			.link-blog:hover {
				color: rgb(211, 97, 32);
			}
			
			.summary {
				font-family: "Pt mono";
				font-size: 1.2em;
			}
			
			.wip {
				position: absolute;
				right: 0;
			}
			
			.item-detail h3 {
				margin-top: 0;
			}
		</style>
	</head>
	
	<body>
		<div class="container">
			<br>
				<div class="col-md-12">
					<h1 class="name oswald-font">{{basics.name}}</h1>
					<hr>
					<p class="location text col-md-6">
						{{#basics.location}}
						<span class="fa fa-location-arrow"></span>
						{{#basics.location.address}}{{basics.location.address}}, {{/basics.location.address}}{{basics.location.city}}, {{basics.location.region}}, {{basics.location.countryCode}}{{#basics.location.postalCode}} {{basics.location.postalCode}}{{/basics.location.postalCode}}
						<br>
						{{/basics.location}}
						<span class="social-links-wrapper">
							{{#basics.profiles}}
							<a href="{{url}}" target="_blank">{{network}}</a>&nbsp;&nbsp;
							{{/basics.profiles}}
						</span>
					</p>
					<p class="location text-right col-md-6">
						{{#basics.email}}
						<span class="fa fa-envelope"></span>
						{{basics.email}}
						{{/basics.email}}
						{{#basics.phone}}
						<br>
						<span class="fa fa-phone"></span>
						{{basics.phone}}
						{{/basics.phone}}
						{{#basics.website}}
						<br>
						<span class="fa fa-rss-square"></span>
						<a target="_blank" href="{{basics.website}}">{{basics.website}}</a>
						{{/basics.website}}
						<br>
					</p>
				</div>
				{{#basics.summary}}
				<div class="col-md-12">
					<hr>
					<p class="summary">
						<sup class="fa fa-quote-left"></sup>
						{{basics.summary}}
						<sup class="fa fa-quote-right"></sup>
					</p>
				</div>
				{{/basics.summary}}
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-building-o"></span>&nbsp; Work Experience</h3>
					<hr>
					<div class="col-md-10">
						{{#work}}
							<div class="item-detail">
								<h3>
									<span>{{position}}</span> 
									<span class="pull-right">( {{startDate}}{{#endDate}} - {{endDate}}{{/endDate}} )</span>
								</h3>
								<h4>
									<a target="_blank" href="{{website}}">
										@{{company}} 
									</a>
								</h4>
								<p class="text-muted">{{summary}}</p>
							</div>
							<ul>
            					{{#highlights}}
								<li>{{.}}</li>
              					{{/highlights}}
							</ul>
							<hr>
						{{/work}}
					</div>
				</div>
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-university"></span>&nbsp; Education</h2>
					<hr>
					<div class="col-md-10">			
						{{#education}}
							<div class="item-detail">
								<h3>{{institution}}</h3>
								<h4>{{area}}, {{studyType}}</h4>
								{{#gpa}}<h5>{{gpa}}</h5>{{/gpa}}
								<h5>{{startDate}}{{#endDate}} - {{endDate}}{{/endDate}}</h5>
							</div>
							<ul>
								{{#courses}}
								<li>{{.}}</li>
								{{/courses}}
							</ul>
							<hr>
						{{/education}}
					</div>
				</div>
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-mortar-board"></span>&nbsp; Skills</h2>
					<hr>
					<div class="col-md-10">
						{{#skills}}
							<h4> {{name}} </h4>
							<h5><b>{{level}}</b></h5>
							{{#keywords}}
								<span class="badge" style="background-color : #67809F;padding: 0.5em 0.5em 5px 0.5em;margin: 0 0 5px 0;">{{.}}</span> 
							{{/keywords}}
							<hr>
						{{/skills}}
					</div>
				</div>
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-group"></span>&nbsp; Volunteerism</h3>
					<hr>
					<div class="col-md-10">
						{{#volunteer}}
							<div class="item-detail">
								<h3>
									{{#website}}<a target="_blank" href="{{website}}">
										@{{/website}}{{organization}} 
									{{#website}}</a>{{/website}}
								</h3>
								{{#summary}}<p class="text-muted">{{summary}}</p>{{/summary}}
								<h5>{{startDate}}{{#endDate}} - {{endDate}}{{/endDate}}</h5>
								<h4>
									{{#position}}<span>{{position}}</span>{{/position}}
								</h4>
							</div>
							<ul>
            					{{#highlights}}
								<li>{{.}}</li>
              					{{/highlights}}
							</ul>
							<hr>
						{{/volunteer}}
					</div>
				</div>
				<div class="col-md-12">
					<h2 class="oswald-font"><span class="fa fa-book"></span>&nbsp; Hobbies</h2>
					<hr>
					<div class="col-md-10">
						<ul>
							{{#interests}}
								<li><div class="item-detail">
									<h5>{{name}}</h5>
								</div>
								<ul>
									{{#keywords}}
									<li>{{.}}</li>
									{{/keywords}}
								</ul></li>
							{{/interests}}
						</ul>
						<hr>
					</div>
				</div>
			</div>
		</div>

		<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>		
		<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	</body>
</html>
